<!DOCTYPE HTML>
<HTML>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
       
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light"  style="background-color:black;">
            <div class="container">
                <a id="brand" class="navbar-brand" href="#">Author Marketplace</a>
        
          <div class="collapse navbar-collapse navbar-dark" >
            <ul class="navbar-nav ">
              <a class="nav-item nav-link active" href="/">Home</a>
              <a class="nav-item nav-link" href="/about">About me</a>
              <a class="nav-item nav-link" href="/books">My Books</a>
              <a class="nav-item nav-link" href="/events">Events<a>
              <a class="nav-item nav-link" href="/contact">Contact</a>
            </ul>
          </div>
         
          
        </nav>
    </head>
    <body>
         
        
        
        
        
        
        
        
        
        
        
</body>
</HTML>