<!DOCTYPE HTML>
<HTML>
    <head>
        <title></title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/main.css">
  
       
       
    </head>
    <body>
      
      
        <nav id="mainnavbar" class=" navbar navbar-expand-lg navbar-dark fixed-top" >
              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div  class="collapse navbar-collapse" id="navbarNav">
                  <ul class=" primary-mn navbar-nav nav-fill w-100 float-right">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/books">My Books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                  </ul>
                      <a  target="blank" href="https://www.facebook.com/mpvanderloon/"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
                      <a  target="blank" href="https://twitter.com/MPVanderLoon"><i class="fab fa-twitter fa-2x fa-fw"></i></a>
                
                </div>

              </nav>
        
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>       
              
             
</body>
</HTML>