<% include partials/header %>
<body id="about">
     <h1 id="aboutme" class="h1">About Me</h1>
    <div class="container">
            <section id="bioimages" class="container-fluid ">
                    <div  class="row align-items content">
                        <div id="aboutimage"class="col-lg-6">
                                <img src="https://i.imgur.com/MmsCWjCl.jpg?1" title="source: imgur.com" />
                                <img src="https://i.imgur.com/kuJcAlgl.jpg" title="source: imgur.com" />
                    
                        </div>
                        <div id="bio" class="col-lg-6 text-center">
                            <div class="content">
                            <p>
                                Ever since I was a little boy, my imagination has been my favorite place to be. Here, the sky is the limit, I feel totally empowered and my potential is as far as the eye can see. 
                            </p>
                            <p> 
                                 I've been a huge movie fanatic all my life, and one of the most important things about movies for me is the story. A story can make or break a movie, good special effects and acting can only go so far if the story is holding it back. It was this childhood obsession that led to my desire to write. I'd seen far too many great concepts ruined by poor storytelling. Now at first, I wanted to write screenplays, but when I realized the potential to shape worlds, I knew I had to write books. 
                            </p>       
                            <p> 
                                 In 2015, shortly after the passing of my mother, I decided life was too short to settle for anything less than my dreams, and so, I began writing. My first series, Accounts of Furlasia, stems from a childhood fantasy character I made up named Kunklestick. The idea came to me while brainstorming one night and from there the story blossomed.    </p>
                            </p>     ​  
                        </div>
                           
                                    
                        </div>
                
                    </div>
                </section>
              
        
    </div>
    

</body>

   <%include partials/footer%>