<% include partials/header %>


    <h2>About Me</h2>
    <div class="row">
        <div class="col-lg-6">
                <img class="img-fluid"src="https://i.imgur.com/MmsCWjC.jpg?1" title="source: imgur.com" />
                   <div class="col-lg-6">
             <img src="https://i.imgur.com/kuJcAlg.jpg" title="source: imgur.com" />
   
        </div>  
            
            </div>
       
        <div class="col-lg-6 col-md-4">
            <p>
                Ever since I was a little boy, my imagination has been my favorite place to be. Here, the sky is the limit, I feel totally empowered and my potential is as far as the eye can see. </p>

            <p>
                 I've been a huge movie fanatic all my life, and one of the most important things about movies for me is the story. A story can make or break a movie, good special effects and acting can only go so far if the story is holding it back. It was this childhood obsession that led to my desire to write. I'd seen far too many great concepts ruined by poor storytelling. Now at first, I wanted to write screenplays, but when I realized the potential to shape worlds, I knew I had to write books. 
                    
            </p>
                    
            <p> 
                In 2015, shortly after the passing of my mother, I decided life was too short to settle for anything less than my dreams, and so, I began writing. My first series, Accounts of Furlasia, stems from a childhood fantasy character I made up named Kunklestick. The idea came to me while brainstorming one night and from there the story blossomed. 
            </p> 
                    ​
                    
            <p>
                I plan to be a pretty wide spectrum author, traveling across multiple genres in order to avoid getting bored. One thing that almost always ruins dream seeking, is boredom. So don't ever let that happen!
            </p> 
                    ​
                    
            <p>
                 In my personal life, I have a husband, a dog and a cat. We live in a small town called Rockford that is located in Michigan. Its not a big city, but its a fairly short drive to Grand Rapids, which is the second largest city in the state. Besides for writing, I am also a school bus driver for one of the local districts, a job that is interesting to say the least. For now, I'm juggling both that job and writing, but with any luck, I'll be able to spend my work days hiding in my imagination. Wouldn't that be grand?</p>
            </p> 
        </div>
    </div>
