<% include partials/header %>

<h1 class="h1">My Books</h1>

<div class="container">


<section id="sec1" class="container-fluid">
    <div class="row align-items-center content">
        <div class="col-md-6">
                <img src="https://i.imgur.com/uNGffxbl.jpg" title="source: imgur.com" />
        </div>
        <div class="col-md-6 text-center">
            <h1>Kunklestick's Prophecy</h1>
            <h2>Released on April 15, 2016</h2>
            <p>
                    Even the darkest, stormiest night has a bit of light. 
                    But what happens if you take away that light? That little, tiny beacon of hope. Nikalas Noise is about to find out, when one fateful night, he finds a portal, a portal to Furlasia. 
                    It’s a fantastic place, a place of unique beauty, a place of magic. But there’s something very wrong with this utopia, a sickness is spreading, a sickness named Septus.
                     Under the leadership of the elderly wizard known only as, Kunklestick, Nikalas is about to learn the ways of magic, for it is he who is destined to end the darkness. 
                     Can he push aside his own insecurities to become the true wizard Furlasia needs him to be? Or will Septus succeed in his quest to punish all those who hurt him?
            </p>
        </div>

    </div>
</section>
<section id="sec2" class="container-fluid">
    <div class="row align-items-center content">
        <div class="col-md-6">
                <img src="https://i.imgur.com/tbVyRckl.jpg" title="source: imgur.com" />
        </div>
        <div class="col-md-6 text-center">
            <h1>The Wall of Truth</h1>
            <h2>Released on December 6, 2016</h2>
            <p>
                    The death of a prominent figure has shaken Furlasia to its core. Literally. The land is unstable and Vicham intends to find out why. 
                    Meanwhile, Septus continues his quest to find the final talisman. As the threat of darker days approaches, unconventional alliances are formed, all in the interest of self preservation. 
                    Elsewhere in the land, Nikalas continues to question his place and his purpose until one night a strange dream directs him to seek out The Wall of Truth.
                     A place hidden to mortal men and yet he has been privileged with its location. Parting ways with his mentor, 
                     Nikalas begins a journey to discover the true meaning of his arrival in Furlasia.
                      The stage is set, the war is inevitable and the fate of the land hinges on Nikalas finding the mysterious Wall of Truth. Is his quest in vain? 
                      Can he find the answers he seeks in time to rise up and halt the rise of the necromancer?    
                     </p>
        </div>

    </div>
</section>


<section id="sec3" class="container-fluid">
    <div class="row align-items-center content">
        <div class="col-md-6">
              <img src="https://i.imgur.com/VpNHnncl.jpg" title="source: imgur.com" />
        </div>
        <div class="col-md-6 text-center">
            <h1>Days of Trepidation</h1>
            <h2>Released on October 31, 2017</h2>
            <p>
                    Chaos! The war has finally begun. Agavordis’ attack on Furlasia has come swiftly and he’s pulled out all the cards to secure his victory. 
                    Turmoil, pain and trepidation have spread across the land like a plague, affecting all, even the mighty Kunklestick. 
                    With the land thrust into disorder, High Mother finally has what she needs to make her play. But hope is not lost.
                     A group of elite warriors known as The Decoyers have figured out her secret and have found a way to defeat her, the only problem is, it’s all the way across The Peridian Sea.
            </p>

            <p> 
                Hopping on a ship, they sail towards uncertainty, in order to find the missing piece of an ancient weapon that will be critical in the fight against her.
            </p>
            <p>
                Elsewhere, in the Gnome city of Cap Ti Mor, Nikalas works to connect the missing pieces of his life, and in the process, gain the power he needs to rescue Furlasia from this terrifying duo.
                 The answers are within his reach, and with the help of the Gnomes, he might just be able to pull off a miracle. 
                 But something else is about to happen, something that will shake the very foundation of Furlasia and test the wizards in a way they have never been tested. 
            </p>
                  
                     </div>

    </div>
</section>




<section id="sec4" class="container-fluid">
    <div class="row align-items-center content">
        <div class="col-md-6">
                <img src="https://i.imgur.com/mdJ017wl.jpg?1" title="source: imgur.com" />
        </div>
        <div class="col-md-6 text-center">
            <h1>The Itch Man</h1>
            <h2>Released on December 26, 2017</h2>
            <p>
                    A grim accident turns a seemingly good hearted man into a creature that has the ability to infect the minds of others. 
                    It soon becomes clear that the recent epidemic of people scratching themselves to death has a sinister cause. 
                    Something is stalking the streets, infecting minds and making people kill themselves. 
                    The Itch Man. But what does he want? And can he be stopped?
            </p>
                  
                     </div>

    </div>
</section>














</div>

