<% include partials/header %>


<link rel="stylesheet" href="stylesheets/form.css">

<div>
    <div class="form-box">
        <h1>Contact Me</h1>
         <form action="#" method="post">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">
          
            <label for="email">Email</label>
            <input id="email" type="email" name="Email">
          
            <label for="message">Message</label>
            <textarea id="message" name="Message"></textarea>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
      </div>
</div>




<% include partials/footer %>
