<% include partials/header %>

<body id="home">
      
<h1 class="h2">M.P. VanderLoon</h1>
<h1 id="greeting" class="greeting">Greetings</h1>

<section id="sec5" class=" container">
        <div class="row align-items-center ">
            <div class=" col-md-6">
                    <img id="promoBook"class="book" src="https://i.imgur.com/mdJ017wl.jpg?1" title="source: imgur.com" />
            </div>
            <div id="promoDesc"   class="col-md-6 text-center">
                <h1> Click the link below to experience the new face of terror!</h1>
                      <div>
                          <a href="https://www.amazon.com/Itch-Man-M-P-VanderLoon-ebook/dp/B078M5X65Y/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1557904401&sr=8-1-spell" role="button" class="btn btn-primary">Click here</a>
                      </div>
            </div>
    
        </div>
    </section>

    






</body>

<% include partials/footer %>