<% include partials/header %>


<h1>M.P. VanderLoon</h1>
<div class="container-fluid">
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid"src="https://i.imgur.com/mdJ017w.jpg" title="source: imgur.com" />
        </div>
        <div col-lg-6>
<div data-packed="false" style="width: 304px; min-height: 152px; pointer-events: none;" data-min-height="152" class="txtNew" id="comp-j9htm478"><h4 class="font_4" style="text-align:center;"><span class="color_21">Get ready to Itch.</span></h4>

        <h4 class="font_4" style="text-align:center;"><span class="color_21">Click the link below to experience the new face of terror!</span></h4></div>
        
        <button class="btn btn-success btn-lg "><a href="https://www.amazon.com/Itch-Man-M-P-VanderLoon-ebook/dp/B078M5X65Y/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1557290969&sr=1-1" target="_blank">Click here to visit</a>
        </button>
        </div>
         </div>
   
</div>

</div>

