/* navbar */
/* ============================== */

#mainnavbar{
    background-color: rgb(190, 177, 177);
    
}

#mainnavbar .nav-link{
    color: white;
    justify-content: space-around;
    display: flex;
    padding: 10px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
   
    }

ul li a{
           
     text-transform:uppercase;
        transition:0.5s;
      }
      
     
      
ul li a:hover{
        transform:scale(2);
        opacity:1;
        filter:blur(0);
        text-decoration:none;
        /* color:#fff; */
      }

/* ========================== */

/* contact form */
/* ========================= */
body {
    background: #f7f7f7;
  }
  
  .form-box {
    max-width: 500px;
    margin-top: 500px;
    margin: auto;

    padding-top: 50px;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
  }
  
  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }

  #box{
      margin-top: 50px;
      padding-top: 50px;
  }

  /* ==================== */


  #mybooks .img{
       max-width: 100%;
      }

      /* .container-fluid{
          padding50-top: 60px;
          background-color: tan;
          position: relative;
          height: auto;
      } */

      #sec1{
          background-color: tan;
          padding-top:50px;
          padding-bottom: 50px;
          margin-bottom:50px; 
          padding-right: 30px;
          padding-left: 30px;
        
      }
      #sec2{
          background-color: tan;
          padding-top:50px;
          padding-bottom: 50px;
          margin-bottom:50px; 
          padding-right: 30px;
          padding-left: 30px;
        
      }
      #sec3{
          background-color: tan;
          padding-top:50px;
          padding-bottom: 50px;
          margin-bottom:50px; 
          padding-right: 30px;
          padding-left: 30px;
      }
      #sec4{
          background-color: tan;
          padding-top:50px;
          padding-bottom: 50px;
          margin-bottom:50px; 
          padding-right: 30px;
          padding-left: 30px;
        
      }
      #sec5{
          background-color:#36393d;
          color: #d1d18c;
          padding-top:50px;
          padding-bottom: 50px;
          margin-bottom:50px; 
        padding-left: 200px;
          padding-right: 200px;
        
      }

      .h1{
          margin-top: 1em;
          margin-bottom: 20px;
          padding-bottom: 1em;
          font-family: 'Marck Script', cursive ;
          font-size: 10em;
         color: #e7f98e;
          font-weight: bold;
      }

      p{
          font-size: 20px;
      }

      div .image {
          padding-bottom: 0px;
          margin-bottom: 0px;
      }

      #aboutimage img{
          margin-bottom: 100px;
          max-width: 30em;
      }

      #bio{
          background-color: tan;
          padding-bottom: 30px;
          margin-bottom: 30em;
         padding-top: 40px;
         padding-left: 40px;
         padding-right: 40px;
        font-family: 'Nunito Sans', sans-serif;
     
      }

      .h2{
        margin-top: 2em;
        margin-left: 30px;
        margin-bottom: 2em;
        color: white;
        font-family: 'Marck Script', cursive ;
        font-size: 4em;
        font-weight: bold;
         text-align: left;
       
      }

      .greeting{
          text-align: center;
          margin-bottom: 1em;
          color: #e7f98e;
          font-size: 10em;
          font-family: 'Marck Script', cursive ;
          font-weight: bold;
          
      }

      #greeting {
          position: relative;
          animation-name: greeting;
          animation-duration: 1.5s;
          
      }

      @keyframes greeting {
          0% {left: -1000px;}
          100% {left: 0;}
      }
      
      .center{
          margin: auto;
          padding-left: 5em;
      }

      #btn{
          margin-left: 60px;
      }

      #launchbox{
          background-color: tan;
         
      }
      
      .box{
          size: ;
      }

      #home{
          background-image: url(https://pixabay.com/get/57e6d04a4d53ab14ea9d807dc420327e1422dfe05656784d73267bdc/book-1659717.jpg);
            background-size: 100%;
            background-attachment: fixed
            
          
        }

        #about{
            background-image: url(https://pixabay.com/get/52e3d347435ab114b2dc847ecf2d377f083edbe05458754f7d2d7f/old-books-436498.jpg);
            background-size: 100%;
            background-repeat: round;
            background-attachment: fixed;
           
        }

        #books{
            background-image: url(https://pixabay.com/get/57e1d14a4a51ad14ea9d807dc420327e1422dfe05656784d732973d4/book-1149031.jpg);
            background-attachment: fixed;
        }

        #eventbox{
            background-color:#275266;
            position: center;
            width: 70em;
            height: 40em;
            top: 0;
            left: 0;
            margin-bottom: 30px;
            padding-top: 50px;
            color: white;
        }

        #events{
            background-image: url(https://pixabay.com/get/50e9dc474a51b114b2dc847ecf2d377f083edbe054587441772873/sunlight-699403.jpg);
            background-size: 100%;
            background-attachment: fixed;
        }

        .book img{
            transition: ease-in

        }
       
        #sec5 div img{
            transition: 0.5s;
        }

     #sec5 div img:hover{
       
        transform: scale(1.25);
       
       
      }

      ul.media{
        list-style: none;
        text-align: center;
      }
      ul.icons li {
        display: inline-block;
      }